[Desktop Entry]
Encoding=UTF-8
Name=dwm
Comment=Dynamic window manager
Exec=/usr/local/bin/start_dwm.sh
Icon=dwm
Type=Application

[X-window Manager]
SessionManaged=true

